.snap {
  height: 100vh;
  overflow-y: scroll;
  /* Set the scroll behavior to snap */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap::-webkit-scrollbar {
  display: none;
}

/* Optional: Add vendor prefixes for cross-browser compatibility */
.snap {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

section {
  height: 100vh;
}

.hero-container {
  background: linear-gradient(to right, 
  var(--color-primary) 0%, /* Red color from 0% to 30% */
  var(--color-primary) 65%, /* Red color from 30% to 60% */
  var(--color-secondary) 65%, /* Green color from 30% to 100% */
  var(--color-secondary) 100% /* Green color from 100% */
);
  scroll-snap-align: start;
}

.hero-pattern{
  background-image: ('./assets/images/pattern-bg-1.png');
}

.article-container {
  background-color: blue;
  scroll-snap-align: start;
}

.engineering-container {
  background-color: aqua;
  scroll-snap-align: start;
}

/* Media query for smaller devices (e.g., phones) */
@media (max-width: 768px) {
  .snap {
    scroll-snap-type: none; /* Disable snap scrolling */
    scroll-behavior: smooth; /* Use smooth scrolling without snapping */
  }
}
