/* navbar styles */
.navbar {
  background-color: #ffff;
  z-index: 999;
}
.nav-top {
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.navbar .navbar-brand {
  font-size: 2rem;
  color: blue;
  font-weight: bolder;
}
.nav-top .navbar-brand {
  color: #f9f9f9;
}
.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbar .navbar-brand img {
  width: 1rem;
  height: auto;
  margin: 0;
  padding: 0;
}
.nav-item {
  margin-right: 10px;
  font-size: 1.1rem;
}
.nav-top .nav-item a {
  color: rgb(107, 101, 101);
}
.nav-link {
  padding: 0 1rem;
}
.nav-link.active {
  background-color: rgb(243, 243, 243);
  border-radius: 2px 2px 8px 8px;
}

/* hero section styles */
.hero-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to right,
    #000 0%,
    #000 65%,
    #fff 65%,
    #fff 100%
  );
  padding-bottom: 2rem;
}
.hero-container::before {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #fff;
  left:30px;
  top: 200px;
  height: 100%;
}
.hero-container::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #fff;
  left: 0px;
  bottom: 100px;
}




.hero-developer-title {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
 
}

.hero-para {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: url("./assets/images/bag.svg");
}

.hero-image-container img {
  max-width: 100%;
  height: auto;
  margin-top: -30px;
  margin-left: -30px;
}
.hero-bg-pattern {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(160, 154, 154, 0.514);
  padding: 5px;
}

.hero-sub-content {
  color: rgb(255, 255, 255);
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* engineering section styles */

.engineering-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/math.png');
  background-repeat: no-repeat;
  background-position: top right;
}
.engineering-container::before{
  content: '';
  position: absolute;
  width: 1px;
  background-color: #020202;
  left:32px;
  top: 40px;
  height: 100%;
  transform: rotate(9deg);
}
.engineering-container::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #000000;
  left: 0px;
  bottom: 100px;
}
.engineering-container .title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
}
.engineering-container p {
  text-align: justify;
}

/* certificate styles */
.certificate-container {
  padding: 4rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.certificate-container img {
  width: 100%;
}
.certificate-container .title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.2rem;
}

/* footer styles */
footer {
  background-color: #ffffff;
  color: #000;
}

/* blog posts styles */
.blog-container .title {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
#blog {
  padding: 5rem 0;
  background-color: #000;
}
.blog-post {
  background-color: #ffffff;
  cursor: pointer;
}
.blog-post img {
  width: 40%;
  object-fit: cover;
}
.view-btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #888888;
  color: #fff;
}
.view-btn:hover {
  background-color: #757373;
}

/* blog view page */
.blog-grid {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #fc5356;
  color: #ffffff;
  padding: 8px 15px;
  left: 10px;
  top: 10px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #20247b;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

/* Blog Sidebar
-------------------*/

.blog-aside .widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.blog-aside .widget-body {
  padding: 15px;
}
.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fc5356;
  margin: 0;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #20247b;
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #20247b;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6f8ba4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #20247b;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6f8ba4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #20247b;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #fc5356;
}

.blog-single {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #888888;
}

.article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article-img img{
  width: auto;
  height: 300px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #fc5356;
  border-bottom: 1px solid #fc5356;
}
.article .article-title h2 {
  color: #20247b;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #fc5356;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #20247b;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #fc5356;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #000000;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #20247b;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.code{
  background-color: #000000;
  color: white;
  padding: 1rem;
  height: 100%;
  z-index: 0;
  margin: 0.8rem 0;
}
/* Contact Us
---------------------*/
.contact-name {
  margin-bottom: 30px;
}
.contact-name h5 {
  font-size: 22px;
  color: #20247b;
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-name p {
  font-size: 18px;
  margin: 0;
}

.social-share a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}
.social-share .dribbble {
  box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
  background-color: #ea4c89;
}
.social-share .behance {
  box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
  background-color: #0067ff;
}
.social-share .linkedin {
  box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
  background-color: #0177ac;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #20247b;
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
}
.contact-form .form-control:focus {
  border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
  border-bottom: 1px solid #ff0000;
}
.contact-form .send {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contact-form .send {
    margin-bottom: 20px;
  }
}

.section-title h2 {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}
.section-title {
  padding-bottom: 45px;
}
.contact-form .send {
  margin-top: 20px;
}
.px-btn {
  padding: 0 50px 0 20px;
  line-height: 60px;
  position: relative;
  display: inline-block;
  color: #20247b;
  background: none;
  border: none;
}
.px-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(252, 83, 86, 0.6);
  border-right: 1px solid transparent;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  width: 60px;
  height: 60px;
}
.px-btn .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
}
.px-btn .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* resume container */
.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: var(--color-primary);
}

.back-btn {
  padding: 0.5rem 1.3rem;
  border: none;
  outline: none;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  transition: all 0.3s ease-in-out;
}
.back-btn:hover {
  background-color: #fff;
  color: #333;
}
#row {
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin: 2rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 5px solid rgb(170, 166, 166);
}

.resume-container .personal-info {
  margin-bottom: 2rem;
}
.resume-container .name {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
.resume-container .sub-title {
  font-size: 1.5rem;
  text-align: center;
}
.resume-container .objective {
  font-size: 1.2rem;
  text-align: justify;
}
.resume-container .experience {
  font-size: 1.2rem;
}
.resume-container .projects a {
  text-align: center;
}
.skill-list {
  list-style-type: none;
  border: 0;
  margin: 0;
  padding: 0;
}
/* skills styles */
.skills-container {
  padding: 2rem;
  position: relative;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: bold;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.skill-icon {
  font-size: 1.5rem;
}

.skill-name {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: #333;
}

.skill:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* competitive */
.hackerrank-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9); /* white background with transparency */
}

.leetcode-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9); /* white background with transparency */
}

/* Add an overlay div inside the cards for the background images */
.hackerrank-card::before,
.leetcode-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Control the opacity here */
  z-index: 0;
}

.hackerrank-card::before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/65/HackerRank_logo.png');
}

.leetcode-card::before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png');
}

.card-body {
  position: relative;
  z-index: 1;
}

/* project styles */
.projects-container {
  height: 100%;
  padding: 4rem 0;
  background-color: #000;
  background-image: url('https://images.unsplash.com/photo-1635070041078-e363dbe005cb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.project {
  position: relative; /* Needed for ::before absolute positioning */
  overflow: hidden;
  border: none;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}
.card-img-top{
  z-index: 10;
}
.project::before {
  content: '';
  background-color: rgb(9, 255, 0);
  position: absolute;
  right: -50px;
  bottom: -50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 0; /* Keeps it behind the content */
  transition: all 0.3s ease;
}
.project-tabs{
  color: rgb(255, 255, 255);
}

.project:hover::before {
  width: 100%;
  height: 100%;
   right: 50%;
  bottom: -50px;
  border-radius: 0;
}

.project:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-title{
  font-size: 20px;
  font-weight: 700;
}
.project-description{
  font-size: 18px;
  color: rgb(102, 102, 102);
}
/* responsive styles */
@media (max-width: 1024px) {
  .blog-post {
    flex-direction: column;
  }
  .blog-post img {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .hero-container {
    padding-top: 7rem;
    height: 100%;
  }
  .nav-top {
    background-color: #fff;
    z-index: 999;
  }
  .nav-top .navbar-brand {
    color: blue;
  }
  .hero-developer-title {
    color: #333;
    font-size: 2rem;
    text-align: center;
  }
  .hero-para {
    text-align: center;
    color: #333;
  }

  .hero-image-container {
    padding: 10px;
    margin-top: 20px;
  }
  .hero-image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
  }
  .hero-bg-pattern {
    border: none;
  }
  .hero-sub-content {
    color: #333;
  }
  .engineering-container {
    height: 100%;
    padding: 1rem 0;
  }
}
@media (max-width: 768px) {
  .hero-container {
    padding-top: 7rem;
    height: 100%;
  }
  .hero-container::before{
    display: none;
  }
  .hero-container::after{
    display: none;
  }
  .engineering-container::after,
  .engineering-container::before{
    display: none;
  } 
  .engineering-container{
    background-image: url("");
  }
  .nav-top {
    background-color: #fff;
    z-index: 999;
  }
  .nav-top .navbar-brand {
    color: blue;
  }
  .hero-developer-title {
    color: #333;
    font-size: 2rem;
    text-align: center;
  }
  .hero-para {
    text-align: center;
    color: #333;
  }

  .hero-image-container {
    padding: 10px;
    margin-top: 20px;
  }
  .hero-image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
  }
  .hero-bg-pattern {
    border: none;
  }
  .hero-sub-content {
    color: #333;
  }
  .engineering-container {
    height: 100%;
    padding: 1rem 0;
  }
}
