/* navbar styles */
.navbar {
  background-color: #ffff;
  z-index: 999;
}
.nav-top{
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.navbar .navbar-brand {
  font-size: 2rem;
  color: blue;
  font-weight: bolder;
}
.nav-top .navbar-brand {
  color: #f9f9f9;
}
.nav-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbar .navbar-brand img {
  width: 1rem;
  height: auto;
  margin: 0;
  padding: 0;
}
.nav-item{
  margin-right: 10px;
  font-size: 1.1rem;
}
.nav-top .nav-item a{
  color: #000000;
}
.nav-link{
  padding: 0 1rem;
}
.nav-link.active{
  background-color: rgb(243, 243, 243);
  border-radius: 2px 2px 8px 8px;
}


/* hero section styles */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-primary) 65%,
    var(--color-secondary) 65%,
    var(--color-secondary) 100%
  );
  padding-bottom: 2rem;
}

.hero-developer-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-secondary);
  margin-bottom: 20px;
}
.hero-para {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: url("./assets/images/bag.svg");
}

.hero-image-container img {
  max-width: 100%;
  height: auto;
  margin-top: -30px;
  margin-left: -30px;
}
.hero-bg-pattern {
  width: 300px;
  height: 300px;
  border: 1px solid #ffffffbb;
  padding: 5px;
}

.hero-sub-content {
  color: var(--color-secondary);
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* engineering section styles */

.engineering-container {
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.engineering-container .title{
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
}
.engineering-container p{
  text-align: justify;
}

/* certificate styles */
.certificate-container {
  padding: 4rem 0;
  height: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}
.certificate-container img{
  width: 100%;
}
.certificate-container .title{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

/* footer styles */
footer {
  background-color: #3d155f;
  color: var(--color-secondary);
}

/* blog posts styles */
.blog-container .title{
  font-size: 3rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
#blog {
  padding: 5rem 0;
  background-color: #78b8e2b6;
}
.blog-post {
  background-color: #ffffff;
  cursor: pointer;
}
.blog-post img {
  width: 40%;
  object-fit: cover;
}

/* resume container */
.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: var(--color-primary);
}

 .back-btn{
  padding: 0.5rem 1.3rem;
  border: none;
  outline: none;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  transition: all .3s ease-in-out;
}
.back-btn:hover{
  background-color: #fff;
  color: #333;
}
#row{
  background-color: #f0ebeb;
  padding: 2rem 1rem;
  margin: 2rem 0;
}
.resume-container .personal-info{
  margin-bottom: 2rem;
}
.resume-container .name{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
.resume-container .sub-title{
  font-size: 1.5rem;
  text-align: center;
}
.resume-container .objective{
  font-size: 1.2rem;
  text-align: justify;
}
.resume-container .experience{
  font-size: 1.2rem;
}
.resume-container .projects a{
  text-align: center;
}
/* skills styles */
.skills-container {
  padding: 2rem;
  position: relative;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.skill-icon {
  font-size: 1.5rem;
}

.skill-name {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: #333;
}

.skill:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* project styles */
.projects-container{
  height: 100%;
  padding: 4rem 0;
  background-color: var(--color-secondary);
}
/* responsive styles */
@media (max-width: 1024px) {
  .blog-post {
    flex-direction: column;
  }
  .blog-post img {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .hero-container{
    padding-top: 7rem;
    height: 100%;
  }
  .nav-top{
    background-color: #fff;
    z-index: 999;
  }
  .nav-top .navbar-brand{
    color: blue;
  }
  .hero-developer-title {
    color: #333;
    font-size: 2rem;
    text-align: center;
    
  }
  .hero-para {
    text-align: center;
    color: #333;
  }

  .hero-image-container {
    padding: 10px;
    margin-top: 20px;
  }
  .hero-image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
  }
  .hero-bg-pattern {
    border: none;
  }
  .hero-sub-content {
    color: #333;
  }
  .engineering-container{
    height: 100%;
    padding: 1rem 0;
  }
}
@media (max-width: 768px) {
  .hero-container{
    padding-top: 7rem;
    height: 100%;
  }
  .nav-top{
    background-color: #fff;
    z-index: 999;
  }
  .nav-top .navbar-brand{
    color: blue;
  }
  .hero-developer-title {
    color: #333;
    font-size: 2rem;
    text-align: center;
    
  }
  .hero-para {
    text-align: center;
    color: #333;
  }

  .hero-image-container {
    padding: 10px;
    margin-top: 20px;
  }
  .hero-image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
  }
  .hero-bg-pattern {
    border: none;
  }
  .hero-sub-content {
    color: #333;
  }
  .engineering-container{
    height: 100%;
    padding: 1rem 0;
  }
}
